#content{
    text-align: center;
    padding-top: 25%;


}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Noto Sans";
}

.navbar-inverse .navbar-header .navbar-brand{
    color: #28B894;
}

.navbar-inverse .navbar-collapse ul li a{
    color: white;
}

#appName{
  color: #28B894;
    font-weight: 700;
    font-size: 4em;
    text-shadow: 0px 8px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1) ;
    /*font-family: Lato;*/
}

#appPitch{
    color: white;
    /*font-family: Lato;*/
    text-shadow: 0px 8px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1) ;
}

html{
    height: 100%;
}

hr{
    width: 400px;

}

#hrShadow{
    border-top: 1px solid #f8f8f8;
    border-bottom: rgba(0,0,0,0.2);
}

#signatureGreen{
    background: #28B894;
}

