<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photo Alarm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftWeatherService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3633426B1B8418070027DF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363342831B8418070027DF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3638FBB31B9A350400513718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3638FBBD1B9A350400513718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
